<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User</title>
<!-- CSS only --><!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<style>


body {
  background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
   
}


</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Team D</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" th:href="@{/user/}">Continue to Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/user/clearCart}" >Clear cart</a>
        </li>
        
 		</ul>
 		<ul class="navbar-nav ml-auto">
        
        	<li class="nav-item">
                <a class="nav-link" th:href="@{/user/addTocart}">
                  <i class="fa fa-cart-plus"></i>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                  Logout
                </a>
            </li>
            
        </ul>
    </div>
  </div>
</nav>

<div class="container">

<br>
<h1 align="center">Product List</h1><hr><br>

<br>

<!-- <table class="table table-bordered table-hover" width="100%" cellpadding="10" cellspacing="0">

<tr bgcolor="cyan">
<th>OrderId</th>
<th>productName</th>
<th>productPrice </th>
<th>productDescription</th>
<th>Action</th>
</tr>
<tr th:each="product:${products}">
<th th:text="${product.orderId}"></th>
<th th:text=" ${product.product.productName}"></th>
<th th:text=" ${product.product.productCost}"></th>
<th th:text=" ${product.product.productDescription}"></th>
<th><a th:href="@{/user/deleteUserOrder/{orderid}(orderid=${product.orderId})}" class="btn btn-danger">Delete</a>
</th>
</tr>
</table> -->


</div>
<center>
<div class="row container ">
<div th:each="product:${products}" class="card col-lg-4 " style="width: 18rem; margin:auto; margin-top:2%;">

  <img src="http://demo.posthemes.com/pos_beeta/layout2/32-home_default/originals-kaval-windbreaker-winter-jacket.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 th:text=" ${product.product.productName}" class="card-title"></h4>
    <h5>₹ <span th:text=" ${product.product.productCost}" class="card-text"></span></h5>
    <p th:text=" ${product.product.productDescription}" class="card-text"></p>
    <a th:href="@{/user/deleteUserOrder/{orderid}(orderid=${product.orderId})}" class="btn btn-danger">Delete</a>
  </div>
  
</div>
</div>
<br><br>


<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total Amount:</h4>
        <h5 class="card-text">₹ <span th:text="${total}"></span></h5><br>
        <a th:href="@{/order/billGenerate}" class="btn btn-primary">Bill</a>
      </div>
    </div>

</center>
<br><br>

<!-- footer -->

<!-- <footer class="bg-dark text-center text-white footer-stick">


  Copyright
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <a class="text-white" href="#">Team D</a>
  </div>
  Copyright
</footer> -->

</body>
</html>