<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css" integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr" crossorigin="anonymous">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://kit.fontawesome.com/13fa92a038.js" crossorigin="anonymous"></script></head>

<style>
body {
  background-image: url('https://media.istockphoto.com/id/1278497184/photo/brown-gift-box-with-blurred-backgrounds.jpg?s=612x612&w=0&k=20&c=2bXOSbd5QTU1S_xT6RY115s1ILqfnUk5Cf3htCerhMY=');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
   
}
</style>

</head>
<body >

<!-- NAVIGATION BAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Team D</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/#">Home</a> 
        </li>
        
        
       
        
      </ul>
      
        <ul class="navbar-nav ml-auto">
        
        	<!-- <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-cart-plus"></i>
                </a>
            </li> -->
            
            <li class="nav-item">
                <a class="nav-link" href="/logout">
                  Logout
                </a>
            </li>
            
        </ul>
    </div>
  </div>
</nav>


<div class="container">

<br><br>

<h1 align="center">Product List</h1><hr><br>






<a th:href="@{/admin/show}" class="btn btn-success">ADD</a>
<a th:href="@{/admin/csv}" class="btn btn-dark">Bulk Upload(CSV )</a>
<hr><nr>
<table class="table table-striped table-hover" width="100%" cellpadding="10" cellspacing="0">



<tr>
<th>Product Name</th>
<th>Product Cost </th>
<th>Product Quality</th> 
<th>Product Description</th>
<th>Action</th>

	

</tr>





<tr th:each="product:${products}">



<th style="display:none;" th:text="${product.productId}"></th>
<th th:text="${product.productName}"></th>
<th th:text="${product.productCost}"></th>
<th th:text="${product.productQuantity}"></th>
<th th:text="${product.productDescription}"></th>
<th>
<a th:href="@{/admin/deleteProduct/{productId}(productId=${product.productId})}" class="btn btn-dark">Delete</a>
<a th:href="@{/admin/UpdateForm/{id}(id=${product.productId})}" class="btn btn-dark">Update</a>
</th>




</tr>



</table>

<br>

<h1 align="center">User List</h1><hr><br>



<table class="table table-hover table-striped" width="100%" cellpadding="10" cellspacing="0">





<tr>
<th>User Name</th>
<th>User EmailId</th>
<th>User Address</th>
<th>Role</th>
<th>Action</th>
	

</tr>





<tr th:each="users:${userList}">



<th style="display:none;" th:text="${users.id}"></th>
<th th:text="${users.fullName}"></th>
<th th:text="${users.email}"></th>
<th th:text="${users.address}"></th>
<th th:text="${users.role}"></th>
<th>
<a th:href="@{/admin/deleteUser/{userId}(userId=${users.id})}" class="btn btn-dark">Delete</a>
<a th:href="@{/admin/UpdateUserForm/{id}(id=${users.id})}" class="btn btn-dark">Update</a> 
</th>






</tr>



</table>




</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>


<!-- footer -->

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
      <i class="fa-brands fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    
    <a class="text-white" href="#">Team D</a>
  </div>
  <!-- Copyright -->
</footer>
</body>
</html>